{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/pencil_icon.png' %}">

    <title>NTHU Course Platform</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-4.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
</head>

<body class="">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/home/">Hi, {{ username }}!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'history' %}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'find_course' %}">Course</a>
                    </li>
                </ul>
                <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}"><span class="oi oi-account-logout" title="icon name" aria-hidden="true"></span></a>
            </div>
        </nav>
    </header>

    <main class="pt-3 px-4" id="main_frame" role="main" frameBorder="0">
        {% include maincontent %}
    </main>

    <script>
            window.jQuery || document.write('<script src="{% static "bootstrap-4.0.0/assets/js/vendor/jquery-3.4.1.min.js" %}"><\/script>')
    </script>
    <script>
        $(document).ready(function() {
            $("#navbarCollapse .nav-item").click(function() {
                // $("#main_frame").attr("src", $(this).attr('urldata'));
                $("#navbarCollapse  .nav-item").each(function() {
                    $(this).toggleClass('active', false);
                });
                $(this).toggleClass('active', true);
            });
        });
    </script>
    <script src="{% static 'bootstrap-4.0.0/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>